
<button class="start">Play</button>
<button class="hit">Hit</button>
<button class="stay">Stay</button>

<br>
You:
<div class="players"></div>
<br>
Dealer:
<div class="dealer"></div>
<br>
<div class="bust"></div>
<div class="winner"></div>
